* {
    background-color: green;
    color: yellow;
    text-align: justify;
    font-family: "Brush Script MT";
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color:white;
    text-align: center;
}

